{% extends 'base.html' %}

{% block title %}Djancord{% endblock %}


{% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>


<div class="home-container">

  <div>
    <h3>Brows Topics</h3>
    <hr>
    
    <div>
      <a href="{% url 'home:home'%}">All</a>
    </div>

    {% for topic in topics %}
      
      <div>
        <a href="{% url 'home:home'%}?q={{ topic.name }}">{{ topic }}</a>
      </div>

    {% endfor %}
  </div>


  <div><a href="{% url 'home:create-room' %}">Create Room</a>


    <div> 
      {% for room in rooms %}
      <div>
        <a href="{%url 'home:update-room' room.id %}">Edit</a>
        <a href="{%url 'home:delete-room' room.id %}">Delete</a>
        <span>@{{ room.host.username }}</a>
          <h5>{{ room.id }} -- <a href="{% url 'home:room' room.id %}">{{ room.name }}</a></h5>
          <small>{{ room.topic.name }}</small>
          <hr>
        </div>
        {% endfor %}
      </div> 
    </div>
</div>  
    {% endblock %}